/* Default (dark mode) */
:root {
    --bg-default: #212020;
    --text-default: #ffffff;
    --text-default-2: #000000;
    --bg-card: #3f3f3f;

    /* Natural / Gray Scale */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-50: #D9D9D9;
    --color-gray-100: #7E7E7E;
    --color-gray-150: #535353;
    --color-gray-200: #3f3f3f;

    /* Primary Colors */
    --color-primary-50: #F7B901;

    --color-primary-400: #000c1d;

    /* Status and Button Colors */
    --color-success: #027d39;
    --color-warning: #ff0000;

    --button-blue-50: #3B82F6;
    --button-blue-100: #2563EB;
    --button-blue-200: #00109B;
}


/* Light mode */
.light {
    --bg-default: #ffffff;
    --text-default: #000000;
    --text-default-2: #ffffff;
    --bg-card: #D9D9D9;


    --color-primary-50: #2b0532;


    /* Natural / Gray Scale */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-50: #3f3f3f;
    --color-gray-100: #7E7E7E;
    --color-gray-200: #D9D9D9;


    --background: #ffffff;
    --primary: #f0f0f0;
    --secondary: #F7B901;
    --blue: #2563EB;
    --blueMid: #3B82F6;
    --green: #027d39;
    --darkBlue: #00109B;
    --grey: #333333;
    --darkGrey: #555555;
    --light: #000000;
    --red: #ffdddd;
    --dark: #000000;
}