@import url("../../styles/colors.css");

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--light);
}
header {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
header .logo {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  color: var(--secondary);
  width: 204px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;

}
nav .nav-link {
  text-decoration: none;
  color: var(--light);
  font-size: 16px;
  transition: color 0.3s;
  background: none;
  border: none;
}
nav .nav-link:hover {
  color: var(--secondary);
}
header .actions {
  display: flex;
  gap: 1rem;
}
button {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
button.login {
  background: none;
  color: var(--light);
}
button.login:hover {
  color: var(--secondary);
}
button.get-started,
button.profile {
  background-color: var(--light);
  width: 113px;
  height: 38px;
  color: var(--dark);
}
.profile-div {
  width: 204px;
}
button.get-started:hover,
button.profile:hover {
  background-color: var(--secondary);
  color: var(--light);
}
button.login-placeholder,
button.get-started-placeholder {
  background-color: transparent;
  color: transparent;
  border: none;
  width: 113px;
  height: 38px;
}
.nav-bar {
  border: 1px solid var(--light);
  border-radius: 30px;
  width: 316px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  header .logo {
    width: auto;
    font-size: 32px;
    margin-bottom: 1rem;
  }
  nav {
    width: 100%;
    justify-content: space-around;
  }
  .nav-link {
    font-size: 14px;
  }
  .actions {
    margin-top: 5px;
  }
  .profile-div {
    margin-top: 5px;
    width: 100%;
  }
}