@import url("../../styles/colors.css");

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--light);
}
header {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
header .logo {
  font-size: 40px;
  font-weight: bold;
  color: var(--secondary);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-link {
  text-decoration: none;
  color: var(--light);
  font-size: 16px;
  transition: color 0.3s;
  margin: 0 10px;
  background: none;
  border: none;
  cursor: pointer;
}
nav .nav-link:hover {
  color: var(--secondary);
}
header .actions {
  display: flex;
  gap: 1rem;
}
button {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
button.login {
  background: none;
  color: var(--light);
}
button.login:hover {
  color: var(--secondary);
}
button.get-started,
button.profile {
  background-color: var(--light);
  width: 113px;
  height: 38px;
  color: var(--dark);
}
button.get-started:hover,
button.profile:hover {
  background-color: var(--secondary);
  color: var(--light);
}
button.login-placeholder,
button.get-started-placeholder {
  background-color: transparent;
  color: transparent;
  border: none;
  width: 113px;
  height: 38px;
}
.navBar {
  border: 1px solid var(--light);
  border-radius: 30px;
  width: 316px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}