@import url("../../styles/colors.css");

.footer {
    background-color: var(--color-gray-200);
    color: var(--text-default);
    padding: 60px 40px;
    margin-top: auto;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    text-align: left;
}

.footer-column h2,
.footer-column h3 {
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 16px;
    line-height: 1.8;
}

.footer-column li {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-column a {
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 16px;
}

.footer-column a:hover {
    text-decoration: underline;
    color: var(--color-primary-50);
}
.copy {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    border-top: 1px solid #34495e;
    padding-top: 15px;
}
.bullet-list {
    list-style-type: disc;
    padding-left: 20px;
}
.contact-list {
    list-style-type: none;
    padding-left: 0;
}
.social-icons {
    display: flex;
    gap: 20px;              
    padding-top: 10px;       
    align-items: center;
}
.social-icons a {
    color: var(--text-default);
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: var(--color-primary-50);
    transform: scale(1.2);
}
