@import url("../../styles/colors.css");


.aboutContainer {
  background-color: #000914;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;

}

h1,
h2 {
  color: var(--secondary);
}

p {
  color: #7E7E7E;
}

section {
  margin-bottom: 2rem;
}

.image {
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-cols-1 {
  grid-template-columns: 1fr;
}

.md\:grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}