.siginPageContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loginContainer {
    background-color: var(--light);
    width: 360px;
    height: 426px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.formGroup {
    width: 100%;
    margin-top: 10px;
}
.signInButton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.signInButton:hover {
    background-color: var(--blueMid);
}
.divider {
    width: 100%;
    text-align: center;
    margin: 2px 0;
}
.divider span {
    font-size: 16px;
    color: #6B7280;
}
.googleButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    padding: 10px;
    border: 1px solid var(--darkGrey);
    border-radius: 5px;
    color: var(--darkGrey);
    font-size: 16px;
}
.googleButton img {
    margin-right: 10px;
}
.forgotPasswordBtn {
    font-weight: bold;
    font-size: 14px;
    color: var(--darkBlue);
    margin-left: auto;
    text-decoration: none;
}
.googleIcon{
    width: 28px;
    height: 28px;
}
.formGroup label {
    display: flex;
    align-items: center;
}
.formGroup input[type="checkbox"] {
    margin: 0;
}
